<div class="col d-flex">
  <div class="card product-card w-100 h-100 d-flex flex-column shadow-sm">
  
    <!-- Remove Button -->
    <button class="btn btn-danger rounded-circle border-0 m-2 position-absolute top-0 end-0"
            (click)="openModal(rmProductModal)">
        <i class="fa-solid fa-xmark"></i>
    </button>
  
  
    <!-- fixed stock availability badge -->
    <span class="badge position-absolute top-0 start-0 m-2 px-3 py-2 rounded-pill border border-3 text-white"
        [ngClass]="productData?.stockQuantity > 0 ? 'bg-success border-white' : 'bg-danger border-white'">
        {{ productData?.stockQuantity > 0 ? productData?.stockQuantity + ' stock' : 'Out of Stock' }}
    </span>
  
  
    <!-- Image Container -->
    <div class="product-img-container p-3">
        <img [src]="'http://localhost:3000/' + productData?.imagePath"
             class="card-img-top"
             alt="Product Image">
    </div>
  
    <!-- Card Body -->
    <div class="card-body flex-grow-1 d-flex flex-column text-center">
        <h5 class="card-title fw-bold">{{ productData?.productName }}</h5>
        <p class="card-text text-muted small">{{ productData?.description }}</p>
  
        <div class="mt-auto">
            <div class="price-container d-flex justify-content-center gap-2 align-items-center">
                <span class="price fw-bold text-success">${{ productData?.price }}</span>
                <span class="discount badge bg-danger">-{{ productData?.discount }}%</span>
            </div>
  
  
            <!-- View Update Button -->
            <button 
            class="btn btn-primary w-100 mt-2"
            (click)="openModal(viewUpdateModal)">View Product</button>
  
        </div>
    </div>
  
  </div>
  </div>
  
  

  
  <!-------------------------REMOVE------MODAL----------------------------->
  
  
    <!-- modal -->
    <ng-template #rmProductModal let-modal>
      <div class="modal-header">
          <h5 class="modal-title">Remove Product</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
      </div>
  
      <div class="modal-body">
          <p>Are you sure you want to remove this product?</p>
      </div>
  
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
          <button type="button" class="btn btn-danger" (click)="rmProduct(); modal.dismiss()">REMOVE</button>
      </div>
    </ng-template>
  
  
  
  
    <!------View update Modal------>
  
    <ng-template #viewUpdateModal let-modal>
        <div class="modal-header d-flex align-items-center">
          <h1 class="modal-title fs-5">
            @if(isUpdate){View }
            @else{Update }
            Product
          </h1>
      
          <div class="ms-auto d-flex gap-2">
            <!-- Update Button -->
            <button class="btn" (click)="update()">

              @if(isUpdate){
                <i class="fa-regular fa-pen-to-square fa-2x text-primary"></i>
              }
              @else {
                <i class="fa-solid fa-repeat fa-2x text-primary"></i>
              }
              
            </button>
      
            <!-- Close Button -->
            <button type="button" class="btn" (click)="modal.dismiss()">
                <i class="fa-solid fa-circle-xmark fa-2x text-danger"></i>
            </button>

          </div>
        </div> 
      
        <div class="modal-body">

          <!--========PARENT CHILD BINDING HEEEEEEEEEEERE=============-->
          <app-view-update-product-form 
          [product]="productData"
          [selectedCategory]="productData.category"
          [isUpdate]="isUpdate"
          (defaultUpdateValue)="onCloseModal($event)"
          ></app-view-update-product-form>
          <!--==========================================================-->
        </div>
      </ng-template>
      