<footer class="footer mt-5 text-white">
  <div class="container py-4">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-md-6 col-lg-3 col-sm-12">
        <h5>Contact Info</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt"></i> 1702 Elminy, Egypt</li>
          <li><i class="fas fa-envelope"></i> contact ARAF</li>
          <li><i class="fas fa-phone"></i> 20-1014085759</li>
        </ul>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <!-- My Account -->
      <div class="col-md-6 col-lg-3 col-sm-12">
        <h5>My Account</h5>
        <ul class="list-unstyled">
          <li><a href="#">Information</a></li>
          <li><a href="#">Orders History</a></li>
          <li><a href="#">My Wishlist</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>

      <!-- Information -->
      <div class="col-md-6 col-lg-3 col-sm-12">
        <h5>Information</h5>
        <ul class="list-unstyled">
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Custom Services</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Information</a></li>
        </ul>
      </div>

      <!-- Our Services -->
      <div class="col-md-6 col-lg-3 col-sm-12">
        <h5>Our Services</h5>
        <ul class="list-unstyled">
          <li><a href="#">Information</a></li>
          <li><a href="#">Orders History</a></li>
          <li><a href="#">My Wishlist</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
    </div>

    <hr class="bg-light" />

    <!-- Bottom Info -->
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-shipping-fast"></i>
        <p>FREE SHIPPING <br /><small>Free shipping on all elmenya orders</small></p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-dollar-sign"></i>
        <p>MONEY GUARANTEE <br /><small>30 days money back guarantee</small></p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-headset"></i>
        <p>ONLINE SUPPORT <br /><small>We support online 24/7</small></p>
      </div>
    </div>

    <hr class="bg-light" />

    <!-- Footer Bottom -->
    <div class="text-center">
      <p> 2025 ARAF MArket . Designed by <a href="#">Elhadba-Team.com</a>. All Rights Reserved</p>
      <img src="payments.png" alt="Payment Methods" class="img-fluid"
      style="height:50px" />
    </div>
  </div>
</footer>
